@import url('https://fonts.googleapis.com/css?family=Cinzel|Poiret+One');
.welcome {
	border: 2px dotted black;
	margin-left: 30%;
	margin-right: 30%;
	padding: 10px;
}

.title {
	font-family: 'Cinzel', serif;
	font-size: 40px;
	text-align: center;
}
.Question {
	font-family: 'Poiret One', cursive;
	font-size: 20px;
}
body {
	background-color: #F0F8FF;
}